
.custom-card{
		width:80%;
		max-width: 230px;
		word-spacing:normal;
}

.custom-card img{
		width: 100%;
		aspect-ratio: 4/4;
		border-radius: 20px;
}

.custom-card:hover  {
	width: 150px;
}

.custom_input{
	width: 100%;
	max-width: 300px;
}