.header{
	height: 60px;
}

.icon{
	height: 70px;
	width: 180px;
}
.custom-card{
		width:85%;
		height: 100%;
		max-width: 230px;
		word-spacing:normal;
		overflow: hidden;
		cursor: pointer;

}

.custom-card img{
		aspect-ratio: 2/2;
		border-radius: 20px;
}

.custom-card:hover  {
	width: 80%;

}
.name{
	    overflow: hidden;
		display: -webkit-box;
    	overflow-wrap: break-word;
		-webkit-line-clamp: 1;
    	-webkit-box-orient: vertical;
}
.cuisines{
	    overflow: hidden;
		display: -webkit-box;
    	overflow-wrap: break-word;
		-webkit-line-clamp: 1;
    	-webkit-box-orient: vertical;
}
.location{
	    overflow: hidden;
		display: -webkit-box;
    	overflow-wrap: break-word;
		-webkit-line-clamp: 1;
    	-webkit-box-orient: vertical;
}

.custom_input{
	width: 400px;
	border: none;
	border-radius: 20px;
	height: 25px;
}

.shimmerLine{
	height: 10px;
	background-color: lightgrey;
}

.shimmerImg{
	width: 100%;
	aspect-ratio: 4/4;
	border-radius: 20px;
	background-color:lightgrey;
}

.shimmerLine2{
	height: 10px;
	width: 30px;
	background-color: lightgrey;
}

.footer{
	background-color: black;
}